/* Form.module.css */

.cointainer {
    width: 450px;
    max-width: 600px;
    margin: 0 auto;
    padding: 26px;
    background-color: #8e8e8e8c;
    border-radius: 5px;
    box-shadow: 9px 13px 11px #fbfbfb6e;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    margin-bottom: 10ox;
    font-size: 16px;
    font-weight: 600;
    color: #efebebc9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.input {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #000;
}
.input::placeholder{
    color: #000;
    font-style: oblique;
}
.inputName,
.inputImg,
.inputDescription,
.inputPlatforms,
.inputReleased,
.inputRating,
.inputGenres {
    display: flex;
    flex-direction: column;
    
}

.button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

/* .button:hover {
    background-color: #1b1c1d46;
}
 */