
.input{
    width: 200px;
    height: 15px;
    padding: 8px;
    border-radius: 8px;
    gap: 10px;
    background: #F9F9F91A;
    outline: none;
    
}
.btn{
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background: #F9F9F91A;
    color: #f9f9f9;
}

.input::placeholder{
    text-indent: 10px;
}
.container1{
    margin-right: 100px;
}
.container{
    background-color: yellow;
    
    width:200px;

}

.hijo{
    width: 300px;
    max-Height: 400px;
    overflow-y: auto ;
    background-color: blue;
    position:absolute;
    
   
}

.name{
    background-color: aliceblue;
    width: 310px;
    height: 20px;
    font-size: small;
   
}

.img{
    width: 60px;
}