
.input{
    width: 200px;
    height: 22px;
    padding: 8px;
    border-radius: 8px;
    gap: 10px;
    background: #F9F9F91A;
    outline: none;
    
}
.btn{
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background: #F9F9F91A;
    color: #f9f9f9;
    height: 22px;
}
.btn:hover{
    background:#847a7ab8 ;

}
.input:hover{
    background:#a19e9e4e ;
}

.input::placeholder{
    text-indent: 10px;
}



.hijo{
    width: 270px;
    max-Height: 400px;
    overflow-y: auto;
    background-color: #94a3b8;
    position: absolute;
    overflow-x: auto;
    margin-top: 6px;
    border-radius: 8px;
   
}

.name{
    border-radius: 8px;
    width: 206px;
    height: 15px;
    font-size: small;
   
}

.img{
    width: 60px;
    margin-top: 20px;
    height: 40px;
}